*{
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}
body{
    background-color:rgb(255, 255, 255);
    margin: 0;
    transition: background-color 1s;
}
a{
    text-decoration: none;
    color:black;
}
.center{
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    margin: 0;
}


#backgroundForm{
    z-index: 11;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 59, 66, 0.5);
}
.forForm{
    display: flex;
    justify-content: center;
}
#form{
    width: 40%;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(39, 39, 39, 0.5);
    z-index: 12;
    position: fixed;
    padding: 5px 10px;
    font-weight: 900;
}
.txt{
    display:block;
}
.inputCity{
    display: flex;
    align-items: center;
    justify-content: center;
}
#myCity{
    color: rgb(109, 109, 109);
    font-weight: 600;
    width: 80%;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
    border-style:double;
    padding-left: 10px;
}
.lense{
    width: 20px;
    height: 20px;
    position: fixed;
    margin-left: 25%;
}
#OK{
    margin-top: 20px;
    margin-left: auto;
    width: 60px;
    height: 33px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.4s ease-out;
    border: 0px;
}
#OK:hover{
    background-color: rgb(216, 216, 216);
    color: #fff;
}


.headtxt{
    font-size: 20px;
    font-weight: 900;
    color:rgb(29, 82, 38);
    display: flex;
    align-items: center;
    padding-top: 9px;
}
.Vkusno{
    margin-left: 20px;
    margin-right: 20px;
}
a .Vkusno{
    color:rgb(29, 82, 38);
}
.header{
    padding-bottom: 20px;
    width:100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(39, 39, 39, 0.1);
    position: fixed;
    z-index: 10;
    transition: background-color 1s;
}
.basehead{
    width: 100%;
}
.location{
    display: flex;
    align-items: center;
    padding-top: 6px;
}
#MyCityTxt{
    font-weight: 400;
    font-size: medium;
    margin-top: 2px;
    color:#000;
}
.logo{
    width: 50px;
    padding-bottom: 5px;
}
.navigator{
    display: flex;
    align-items: center;
}
.page{
    margin-left: 25px;
}
.user{
    margin: 0;
    min-width: 50px;
    max-width: 200px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    transition: background-color 1s;
}
.userlogo{
    width: 16%;
    margin-right: 10px;
    transition: background-color 1s;
}
.head-nav{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.pagesa{
    font-weight: 900;
}


.carousel-img{
    padding-top: 125px;
}


.headTxtSection{
    font-size: 40px;
    font-weight: 900;
}

.dishes{
    display: flex;
    flex-wrap: wrap;
}
.sectionDish{
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    max-width: 273px;
    margin: 10px;
    transition: box-shadow 0.6s;
}
.sectionDish:hover{
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(20, 20, 20, 0.2);
}
.imgDish{
    max-width: 97%;
    max-height: 60%;
    margin-left: 7%;
}
.nameDish{
    text-align: center;
}
.oneLine{
    margin-bottom: 36px;
}
.gramsDish{
    font-size: 12px;
    color: rgb(68, 68, 68);
    font-weight: 500;
    margin: 0;
}
.nogramsDish{
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 0;
}
.priceDish{
    margin-top: 0;
    font-weight: 900;
    padding-bottom: 10px;
}
.marleft{
    margin-left: 10px;
}


.PS{
    font-size: 15px;
    color: rgb(109, 109, 109);
    padding: 30px;
}
.PS a{
    color: rgb(109, 109, 109);
    text-decoration: underline;
}
.PS a:hover{
    color: rgb(145, 145, 145);
}

.mail{
    margin-bottom: 60px;
}
.sectionMail{
    background-color: rgb(255, 138, 60);
    background-image: url(../IMG/mail/picture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 215px;
    width: 90%;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    transition: background-color 1s;
}
.txtMail{
    margin-right: auto;
    padding-left: 20px;
}
.headerTxtMail{
    color:#fff;
    font-weight: 900;
    font-size: 28px;
}
.txtInMail{
    color:#fff;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
.inputMail{
    padding-right: 20px;
    max-width: 900px;
}
.promo{
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 45px;
}
#inputInMail{
    background-color:transparent;
    width: 100%;
    height: 45px;
    border: 0;
    font-size: 16px;
    padding-left: 15px;

}
.inputMail button{
    border-radius: 0;
    border: 0;
    height: 45px;
    font-weight: 800;
    background-color:transparent;
    z-index: 19;
}
.PSmail{
    color: #fff;
    font-size: 12px;
    text-align: center;
}


.headingVideo{
    display: flex;
    padding-top: 150px;
}
.video{
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forPromo{
    width: 100%;
    height: 100%;
}
.forPromo img{
    position:fixed;
    z-index: 1;
}




@media (max-width: 660px) {
    .sectionDish{
        max-width: 40%;
    }
}
@media (max-width: 610px){
    .pages{
        text-align: center;
    }
    .pagesa{
        text-align: center;
    }
}
@media (max-width: 578px) {
    .header {
        height:12%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .headtxt{
        font-size: 17px;
    }
    .user{
        display: none;
        width: 100%
    }
    .sectionMail{
        background: rgb(255, 138, 60);
        display: block;
    }
    .promo{
        margin-left: 15px;
    }
    .logo{
        width: 20px;
    }
    .left-btn, .right-btn, .left-btn i, .right-btn i{
        background: transparent;
    }
    #form{
        min-width: 80%;
    }
    .lense{
        display: none;
    }
}







.oneOfLocal{
    font-size: 15px;
    color: rgb(190, 190, 190);
    margin-bottom: 0;
}
.twoOfLocal{
    font-size: 15px;
    margin-top: 0;
    padding-top: 4px;
}
.grayBG{
    width: 49%;
    min-height: 90px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(243, 243, 243);
}
.orangeBG{
    margin-left: 5px;
    color: rgb(255, 255, 255);
    width: 49%;
    height: 90px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(235, 128, 66);
}
.choose{
    margin-left: auto;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border: 0;
    border-radius: 20px;
}
.choose:hover{
    cursor:no-drop;
}
.download{
    margin-left: auto;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border: 0;
    border-radius: 20px;
}
.download:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.orangeBG:hover{
    background: url(../IMG/mail/qr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color: rgb(235, 128, 66);
}

.displayflex{
    display: flex;
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.marbotStocks{
    margin-bottom: 30px;
}



@media (max-width: 460px){
    .orangeBG{
        height: 150px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .grayBG{
        height: 150px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .headTxtSection{
        font-size: 23px;
    }
}



.sectionZero{
    height: 100px;
    background: url(../IMG/app/sectionInfoAboutApp.jpg) no-repeat;
    background-size: 100%;
}
.section-appInfo{
    height: 600px;
    background: url(../IMG/app/sectionInfoAboutApp.jpg) no-repeat;
    background-size: 100%;
}
.marTandL{
    color:#fff;
    padding-top: 60px;
}
.spanHeadSize{
    font-size: 60px;
}
.txt-appInfo{
    width: 40%;
    margin-left: auto;
    font-size: 19px;
}
.dflex{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1397px){
    .spanHeadSize{
        font-size: 40px;
    }
    .txt-appInfo{
        width: 50%;
    }
}

@media (max-width: 1281px){
    .spanHeadSize{
        font-size: 40px;
    }
}
@media (max-width: 1281px){
    .spanHeadSize{
        font-size: 30px;
    }
    .txt-appInfo{
        width: 50%;
    }
}
@media (max-width: 1025px){
    .marTandL{
        padding-top: 30px;
        padding-left: 0;
    }
    .spanHeadSize{
        padding-left: 30%;
    }
    .txt-appInfo{
        margin-left: 0;
        width: 80%;
        padding-left: 25%;
    }
    .txt-appInfo{
        font-size: 17px;
    }
    .dflex{
        display: block;
    }
    .marTandL{
        padding-top: 100px;
    }
}
@media (max-width: 770px){
    .spanHeadSize{
        font-size: 25px;
    }
    .txt-appInfo{
        margin-left: 0;
        padding-left: 20%;
        font-size: 14px;
    }
}
@media (max-width: 670px){
    .spanHeadSize{
        font-size: 25px;
    }
    .txt-appInfo{
        margin-left: 0;
        padding-left: 20%;
        font-size: 14px;
    }
    .marTandL{
        padding-top: 40px;
    }
    .sectionZero{
        height: 110px;
    }
}
@media (max-width: 570px){
    .sectionZero{
        height: 90px;
    }
    .marTandL{
        padding-top: 20px;
    }
    .spanHeadSize{
        padding-left: 27%;
        font-size: 25px;
    }
    .txt-appInfo{
        padding-left: 27%;
        font-size: 13px;
    }
}

@media (max-width: 500px){
    .marTandL{
        padding-top: 30px;
    }
    .spanHeadSize{
        padding-left: 22%;
        font-size: 22px;
    }
    .txt-appInfo{
        padding-left: 16%;
        font-size: 12px;
        width: 90%;
    }
}